schemas/Документ_РеализацияТоваровУслуг.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:complexType name="Ссылка">
    <xs:annotation>
      <xs:documentation>Ссылка на объект: Тип = полное имя метаданных, Guid = GUID записи. Пустые Тип/Guid допускаются для отложенного разрешения.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Тип" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Guid" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Выгрузка">
    <xs:annotation>
      <xs:documentation>Реализация товаров услуг</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Запись" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Проведен" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:boolean" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="Ссылка" type="Ссылка" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Идентификатор самой записи (тип + GUID)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ПометкаУдаления" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:boolean" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="Дата" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:dateTime" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="Номер" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="11" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Операция" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Операция</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Автор" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Автор</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ДатаСоздания" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Дата создания</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:dateTime" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="БухгалтерскийУчет" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Бухгалтерский учет</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:boolean" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="УправленческийУчет" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Управленческий учет</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:boolean" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="Организация" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Организация</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Склад" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Склад</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Контрагент" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Контрагент</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ДоговорКонтрагента" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Договор контрагента</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="АдресДоставки" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Адрес доставки</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Заказ" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Заказ</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="УчитыватьНДС" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Учитывать НДС</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:boolean" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="СуммаВключаетНДС" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Сумма включает НДС</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:boolean" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="Всего" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Всего</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="15" />
                    <xs:fractionDigits value="2" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ВсегоТовары" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Всего товары</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="15" />
                    <xs:fractionDigits value="2" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ВсегоУслуги" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Всего услуги</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="15" />
                    <xs:fractionDigits value="2" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ВсегоЛицензии" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Всего лицензии</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="15" />
                    <xs:fractionDigits value="2" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ВсегоНДС" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Всего НДС</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="15" />
                    <xs:fractionDigits value="2" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ВсегоНДСТовары" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Всего НДС товары</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="15" />
                    <xs:fractionDigits value="2" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ВсегоНДСУслуги" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Всего НДС услуги</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="15" />
                    <xs:fractionDigits value="2" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ВсегоНДСЛицензии" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Всего НДС лицензии</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="15" />
                    <xs:fractionDigits value="2" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Комментарий" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Комментарий</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="ДокументОснование" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Документ основания</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Подразделение" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Подразделение</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Валюта" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Валюта</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="КурсВзаиморасчетов" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Курс взаиморасчетов</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="10" />
                    <xs:fractionDigits value="4" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="КратностьВзаиморасчетов" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Кратность взаиморасчетов</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="10" />
                    <xs:fractionDigits value="0" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Грузоотправитель" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Грузоотправитель</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ГрузоотправительАдресДоставки" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Грузоотправитель адрес доставки</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Грузополучатель" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Грузополучатель</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Ответственный" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Ответственный</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="УникальныйИдентификатор" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Уникальный идентификатор</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="128" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ТранспортноеСредство" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Транспортное средство</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Водитель" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Водитель</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Смена" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Смена</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Проект" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Проект</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ФискальныйРегистратор" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Фискальный регистратор</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Стол" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Стол</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="НомерЧека" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Номер чека</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="КоличествоСтрокВДокументе" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Количество строк в документе</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="10" />
                    <xs:fractionDigits value="0" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="СуммаВзаиморасчетов" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Сумма взаиморасчетов</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="15" />
                    <xs:fractionDigits value="2" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ИсточникИнформации" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Источник информации</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ТипЦены" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Тип цены</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Скидка" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Скидка</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="7" />
                    <xs:fractionDigits value="4" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ДоверенностьНомер" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Номер доверенности</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="15" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ДоверенностьДата" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Дата доверенности</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:date" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="ДоверенностьВыдана" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Организация выдавшая доверенность</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="ДоверенностьЧерезКого" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Сотрудник организации на которого выдана доверенность</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="СуммаВознаграждения" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Сумма вознаграждения</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="15" />
                    <xs:fractionDigits value="2" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Касса" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Касса</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ФизическоеЛицо" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Физическое лицо</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ТорговаяТочка" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Торговая точка</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Биллинг" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Биллинг</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:boolean" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="НачислениеУслугПоБиллингу" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Начисление услуг по биллингу</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ИспользоватьУПД" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Использовать УПД</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:boolean" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="GracePeriod" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Grace period</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="2" />
                    <xs:fractionDigits value="0" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="НачалоДействияДоговора" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Начало действия договора</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:date" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="ОтправленоВЭДО" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Отправлено в ЭДО</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:boolean" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="СсылкаНаПайрус" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Ссылка на пайрус</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="255" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ЦФО" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>ЦФО</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ИдБитрикс" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Ид Битрикс24</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="12" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ТабличнаяЧасть_Товары" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Товары</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Строка" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Содержание" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Содержание, доп. сведения</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string" />
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Номенклатура" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Номенклатура</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Характеристика" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Характеристика</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="АдресДоставки" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Адрес доставки</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Проект" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Проект</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Количество" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Количество</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="10" />
                                <xs:fractionDigits value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Единица" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Единица</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Коэффициент" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Коэффициент</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="10" />
                                <xs:fractionDigits value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Цена" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Цена</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="ЦенаБезСкидки" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Цена без скидки</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Сумма" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Сумма</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="СуммаБезСкидки" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Сумма без скидки</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="СтавкаНДС" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Ставка НДС</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="СуммаНДС" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Сумма НДС</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Всего" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Всего</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Партия" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Партия</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ПартияПроизводителя" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Партия производителя</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Вес" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Вес</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="10" />
                                <xs:fractionDigits value="4" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="ВесПоДокументу" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Вес по документу</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="10" />
                                <xs:fractionDigits value="4" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="КоличествоСписаноПоФакту" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Количество списано по факту</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="10" />
                                <xs:fractionDigits value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Склад" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Склад</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="УникальныйИдентификатор" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Уникальный идентификатор</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="36" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="ТипЦены" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Тип цены</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Скидка" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Скидка</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="7" />
                                <xs:fractionDigits value="4" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Спецификация" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Спецификация</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Комментарий" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Комментарий</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="СерийныеНомера" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Серийные номера</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ВспомогательноеПоле" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Вспомогательное поле</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="7" />
                                <xs:fractionDigits value="4" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="НомерСтроки" type="xs:integer" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ТабличнаяЧасть_Услуги" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Услуги</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Строка" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Содержание" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Содержание услуги, доп. сведения</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string" />
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Номенклатура" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Номенклатура</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Характеристика" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Характеристика</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="АдресДоставки" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Адрес доставки</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Проект" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Проект</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Количество" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Количество</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="10" />
                                <xs:fractionDigits value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Единица" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Единица</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Коэффициент" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Коэффициент</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="10" />
                                <xs:fractionDigits value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Цена" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Цена</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="ЦенаБезСкидки" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Цена без скидки</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="СуммаБезСкидки" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Сумма без скидки</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Скидка" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Скидка</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="7" />
                                <xs:fractionDigits value="4" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Сумма" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Сумма</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="СтавкаНДС" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Ставка НДС</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="СуммаНДС" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Сумма НДС</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Всего" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Всего</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="ТипЦены" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Тип цены</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="УникальныйИдентификатор" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Уникальный идентификатор</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="36" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Спецификация" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Спецификация</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ОбъектНачисления" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Объект начисления</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Комментарий" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Комментарий</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="ДатаНачала" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>с</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:dateTime" />
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="ДатаОкончания" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>по</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:dateTime" />
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="ПериодНачисления" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Период начисления</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ВспомогательноеПоле" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Вспомогательное поле</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="7" />
                                <xs:fractionDigits value="4" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Подразделение" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Подразделение</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="НомерСтроки" type="xs:integer" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ТабличнаяЧасть_Лицензии" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Лицензии</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Строка" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Содержание" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Содержание, доп. сведения</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string" />
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Номенклатура" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Номенклатура</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Характеристика" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Характеристика</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="АдресДоставки" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Адрес доставки</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Проект" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Проект</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Количество" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Количество</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="10" />
                                <xs:fractionDigits value="4" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Единица" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Единица</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Коэффициент" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Коэффициент</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="10" />
                                <xs:fractionDigits value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Цена" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Цена</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="ЦенаБезСкидки" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Цена без скидки</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Сумма" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Сумма</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="СуммаБезСкидки" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Сумма без скидки</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="СтавкаНДС" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Ставка НДС</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="СуммаНДС" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Сумма НДС</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Всего" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Всего</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="ТипЦены" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Тип цены</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="УникальныйИдентификатор" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Уникальный идентификатор</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="36" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Спецификация" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Спецификация</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Комментарий" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Комментарий</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Скидка" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Скидка</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="7" />
                                <xs:fractionDigits value="4" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="ДатаНачала" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>с</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:dateTime" />
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="ДатаОкончания" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>по</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:dateTime" />
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="ПериодНачисления" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Период начисления</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ВспомогательноеПоле" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Вспомогательное поле</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="7" />
                                <xs:fractionDigits value="4" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="НомерСтроки" type="xs:integer" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ТабличнаяЧасть_ДополнительныеРасходы" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Дополнительные расходы</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Строка" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Номенклатура" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Номенклатура</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Количество" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Количество</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="10" />
                                <xs:fractionDigits value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Единица" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Единица</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Коэффициент" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Коэффициент</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="10" />
                                <xs:fractionDigits value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Цена" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Цена</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Сумма" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Сумма</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="СтавкаНДС" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Ставка НДС</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="СуммаНДС" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Сумма НДС</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Всего" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Всего</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="УникальныйИдентификатор" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Уникальный идентификатор</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="36" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="НомерСтроки" type="xs:integer" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ТабличнаяЧасть_Ответственные" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Ответственные</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Строка" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Ответственный" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Ответственный</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Процент" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Процент</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="5" />
                                <xs:fractionDigits value="2" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Комментарий" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Комментарий</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="УникальныйИдентификатор" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Уникальный идентификатор</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="36" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="НомерСтроки" type="xs:integer" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ТабличнаяЧасть_ДополнительныеРеквизиты" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Дополнительные реквизиты</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Строка" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Свойство" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Свойство</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Значение" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Значение</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                                <xs:element name="Значение" type="xs:string" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Примитивное значение составного типа (текстом)</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ТекстоваяСтрока" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Текстовая строка</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string" />
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="УникальныйИдентификатор" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Уникальный идентификатор</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="36" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="НомерСтроки" type="xs:integer" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ТабличнаяЧасть_ПоУпрДокам" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Список документов упр. учета</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Строка" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Документ" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Документ</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="УникальныйИдентификатор" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Уникальный идентификатор</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="36" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="НомерСтроки" type="xs:integer" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ТабличнаяЧасть_ДокументыПоВзаиорасчетам" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Документы по взаиорасчетам</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Строка" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Документ" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Документ</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="СуммаВзаиморасчетов" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Сумма взаиморасчетов</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="15" />
                                <xs:fractionDigits value="2" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="УникальныйИдентификатор" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Уникальный идентификатор</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="36" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="НомерСтроки" type="xs:integer" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Конфигурация" type="xs:string" />
      <xs:attribute name="ВерсияКонфигурации" type="xs:string" />
      <xs:attribute name="Объект" type="xs:string" />
      <xs:attribute name="ВерсияФормата" type="xs:string" />
      <xs:attribute name="ДатаВыгрузки" type="xs:string" />
    </xs:complexType>
  </xs:element>
</xs:schema>