schemas/Справочник_НоменклатураПоставщика.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:complexType name="Ссылка">
    <xs:annotation>
      <xs:documentation>Ссылка на объект: Тип = полное имя метаданных, Guid = GUID записи. Пустые Тип/Guid допускаются для отложенного разрешения.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Тип" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Guid" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Выгрузка">
    <xs:annotation>
      <xs:documentation>Номенклатура поставщика</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Запись" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ИмяПредопределенныхДанных" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="256" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Предопределенный" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:boolean" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="Ссылка" type="Ссылка" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Идентификатор самой записи (тип + GUID)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ПометкаУдаления" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:boolean" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="ЭтоГруппа" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:boolean" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="Родитель" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Наименование" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="150" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Код" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Автор" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Автор</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Артикул" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Артикул</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="100" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="БазоваяЕдиница" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Базовая единица</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Бренд" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Бренд</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ВидНоменклатуры" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Вид номенклатуры</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ДатаСоздания" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Дата создания</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:dateTime" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="Импорт" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Импорт</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:boolean" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="КатегорияНоменклатуры" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Категория номенклатуры</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="НаименованиеПолное" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Полное наименование</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="НоменклатурнаяГруппа" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Номенклатурная группа</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="НомерГТД" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Номер ГТД</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Описание" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Описание</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="ОсновнаяЕдиница" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Основная единица</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ОсновнаяСпецификация" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Основная спецификация</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ОсновнойПоставщик" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Основной поставщик</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ОсновнойСклад" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Основной склад</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Производитель" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Производитель</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="СрокГарантии" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Срок гарантии</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="СтавкаНДС" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Ставка НДС</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="СтранаПроисхождения" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Страна происхождения</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="УникальныйИдентификатор" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Уникальный идентификатор</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="36" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ФайлКартинки" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Файл картинки</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ХранилищеФотографии" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Хранилище фотографии</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:base64Binary" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="Цвет" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Цвет</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="КодТНВЭД" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Код ТН ВЭД</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ШаблонХарактеристик" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Шаблон характеристик</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Комментарий" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Комментарий</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="НавигационнаяСсылка" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Навигационная ссылка</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="БазоваяЕдиницаПоКлассификатору" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Базовая единица по классификатору</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Номенклатура" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Номенклатура</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ТабличнаяЧасть_ДополнительныеРеквизиты" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Дополнительные реквизиты</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Строка" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Свойство" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Свойство</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Значение" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Значение</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                                <xs:element name="Значение" type="xs:string" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Примитивное значение составного типа (текстом)</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ТекстоваяСтрока" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Текстовая строка</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string" />
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="УникальныйИдентификатор" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Уникальный идентификатор</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="36" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="НомерСтроки" type="xs:integer" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Конфигурация" type="xs:string" />
      <xs:attribute name="ВерсияКонфигурации" type="xs:string" />
      <xs:attribute name="Объект" type="xs:string" />
      <xs:attribute name="ВерсияФормата" type="xs:string" />
      <xs:attribute name="ДатаВыгрузки" type="xs:string" />
    </xs:complexType>
  </xs:element>
</xs:schema>