schemas/Справочник_Единицы.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:complexType name="Ссылка">
    <xs:annotation>
      <xs:documentation>Ссылка на объект: Тип = полное имя метаданных, Guid = GUID записи. Пустые Тип/Guid допускаются для отложенного разрешения.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Тип" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Guid" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Выгрузка">
    <xs:annotation>
      <xs:documentation>Единицы</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Запись" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ИмяПредопределенныхДанных" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="256" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Предопределенный" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:boolean" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="Ссылка" type="Ссылка" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Идентификатор самой записи (тип + GUID)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ПометкаУдаления" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:boolean" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="Владелец" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Наименование" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="100" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Код" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Автор" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Автор</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ДатаСоздания" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Дата создания</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:dateTime" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="Единица" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Единица</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Коэффициент" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Коэффициент</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="10" />
                    <xs:fractionDigits value="3" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Вес" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Вес</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="10" />
                    <xs:fractionDigits value="4" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Объем" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Объем</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="10" />
                    <xs:fractionDigits value="4" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Комментарий" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Комментарий</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="ШтрихКод" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Штрих код</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="32" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Спецификация" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Спецификация</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Конфигурация" type="xs:string" />
      <xs:attribute name="ВерсияКонфигурации" type="xs:string" />
      <xs:attribute name="Объект" type="xs:string" />
      <xs:attribute name="ВерсияФормата" type="xs:string" />
      <xs:attribute name="ДатаВыгрузки" type="xs:string" />
    </xs:complexType>
  </xs:element>
</xs:schema>