schemas/Справочник_Организации.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:complexType name="Ссылка">
    <xs:annotation>
      <xs:documentation>Ссылка на объект: Тип = полное имя метаданных, Guid = GUID записи. Пустые Тип/Guid допускаются для отложенного разрешения.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Тип" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Guid" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Выгрузка">
    <xs:annotation>
      <xs:documentation>Организации</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Запись" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ИмяПредопределенныхДанных" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="256" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Предопределенный" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:boolean" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="Ссылка" type="Ссылка" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Идентификатор самой записи (тип + GUID)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ПометкаУдаления" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:boolean" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="Наименование" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="150" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Код" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Автор" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Автор</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ДатаСоздания" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Дата создания</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:dateTime" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="ДатаРегистрации" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Дата регистрации организации</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:date" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="МестоРегистрацииТворительныйПадеж" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Место регистрации творительный падеж</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="ИНН" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>ИНН</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="12" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="КодПоОКАТО" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>ОКАТО</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="11" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="КодПоОКПО" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>ОКПО</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="КодПоОКТМО" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>ОКТМО</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="КодПоОКОГУ" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>ОКОГУ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="КодПоОКФС" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>ОКФС</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="КодПоОКОПФ" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>ОКОПФ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="НаименованиеПолное" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Полное наименование</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="НаименованиеДляДокументов" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Наименование для документов</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="НаименованиеБезОПФ" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Наименование без ОПФ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="ОГРН" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>ОГРН</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="15" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="РегистрационныйНомерСтрахователя" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Регистрационный номер страхователя</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ОрганизационноПравоваяФорма" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Организационно правовая форма</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ОрганизационноПравоваяФормаТекст" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Организационно-правовая форма </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="ОсновнаяФормаОплаты" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Основная форма оплаты</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ОсновнойБанковскийСчет" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Основной банковский счет</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ОфициальноеНаименование" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Официальное наименование</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="Префикс" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Префикс</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="2" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Телефоны" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Телефоны</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="ФормаСобственности" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Форма собственности</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="КППСтр" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>КПП строкой</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="Сайт" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Сайт</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="УникальныйИдентификатор" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Уникальный идентификатор</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="36" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Комментарий" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Комментарий</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="Логотип" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Логотип</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:base64Binary" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="РазныеКППДляПодразделений" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Разные КПП для подразделений</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:boolean" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="ПечатьОрганизации" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Печать организации</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:base64Binary" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="РазмерЛоготипа" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Размер логотипа</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="РегистрационныйНомерПФР" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Регистрационный номер ПФР</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="14" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ОсновнойАдресДоставки" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Основной адрес доставки</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ФайлЛоготип" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Файл логотип</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ФайлПечать" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Файл печать</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="СистемаНалогообложения" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Система налогообложения</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ФизическоеЛицо" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Физическое лицо</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ОтветственноеЛицоЗаДоставку" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Ответственное лицо за доставку</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ссылка" type="Ссылка" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="КлючРазработчикаДиадок" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Ключ разработчика диадок</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="ДатаПоследнейЗагрузкиДиадок" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Дата последней загрузки диадок</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:date" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="ПоследнееСобытиеДиадок" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Последнее событие диадок</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="72" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ПоследнееСобытиеСБИС" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Последнее событие СБИС</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="72" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="merchantId" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Merchant id</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="12" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="КодАвторизацииТочка" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Код авторизации точка</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="1024" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="КодАвторизацииТочкаB2B" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Код авторизации точка B2B</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="1024" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ИдАбонентаАстрал" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Ид абонента астрал</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="72" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="АПИКлючАстрал" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>АПИКлюч астрал</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="512" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ТабличнаяЧасть_ВидыЭкомическойДеятельности" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Виды экомической деятельности</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Строка" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ВидЭкомическойДеятельности" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Вид экомической деятельности</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ссылка" type="Ссылка" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="УникальныйИдентификатор" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Уникальный идентификатор</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="36" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="НомерСтроки" type="xs:integer" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Конфигурация" type="xs:string" />
      <xs:attribute name="ВерсияКонфигурации" type="xs:string" />
      <xs:attribute name="Объект" type="xs:string" />
      <xs:attribute name="ВерсияФормата" type="xs:string" />
      <xs:attribute name="ДатаВыгрузки" type="xs:string" />
    </xs:complexType>
  </xs:element>
</xs:schema>